.form-container form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 5px;
  left: 10%;
  right: 10%;
  background: #fff;
  padding: 20px;
  border-radius: 0.5rem;
}

.input-box {
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
}

.input-box span {
  font-weight: 500;
}

.input-box input {
  padding: 7px;
  outline: none;
  border: none;
  background: #eeeff1;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.form-container form .btn {
  flex: 1 1 4rem;
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.850);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.form-container form .btn:hover {
  background: orange;
}
