<footer class="footer bg-black text-center text-white">
  <!-- Grid container -->
  <div class="container-fluid p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" routerLink="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" routerLink="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" routerLink="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <div class="container p-4 pb-0" >
    <section class="mx-4">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <i class="fas fa-map-marker-alt fa-2x"></i>
      <p>Colombo, CA 94126, Sri Lanka</p>
          </div>
          <div class="col-4">
            <i class="fas fa-phone fa-2x"></i>
      <p>011 234 5679</p>
          </div>
          <div class="col-4">
            <i class="fas fa-envelope fa-2x"></i>
      <p>Vroomly.rentals.info@gmail.com</p>
          </div>

        </div>
      </div>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" routerLink=""><strong>Vroomly.</strong></a>
    All rights reserved.
  </div>
  <!-- Copyright -->
</footer>

