<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>


          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" [(ngModel)]="formdata.email"/>
            <label class="form-label" for="form3Example3">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" [(ngModel)]="formdata.password">
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class="login form-check d-flex justify-content-center mb-5">
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button type="button" class="btn btn-dark btn-lg" (click)="login()">Login</button>
            </div>
            <label class="form-check-label" for="form2Example3">
              Don't have an account ? <a routerLink="/sign-up">Sign Up</a>
            </label>
          </div>


      </div>
    </div>
  </div>
</section>
