* {
  padding-top: 30px;
}

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 1920px) {
  html,
  body,
  header,
  .view {
    height: 80vh;
  }
}

.carCont {
  height: 1000px;
}

.heading {
  text-align: center;
}

.heading span {
  font-weight: 500;
  text-transform: uppercase;
}

.heading h1 {
  font-size: 2rem;
  color: orange;
  font-weight: 400;
}

.cars-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1rem;
  margin-top: 1rem;
}

.cars-container .box {
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
}

.cars-container .box .box-img {
  width: 100%;
}

.cars-container .box .box-img img {
  width: 100%;
  height: 50vh;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}

.cars-container .box p {
  padding: 0 10px;
  border: 1px solid #000;
  width: 58px;
  border-radius: 0.5rem;
  margin: 1rem 0 1rem;
}

.cars-container .box h3 {
  font-weight: 500;
}

.cars-container .box h2 {
  font-size: 1.1rem;
  font-weight: 500;
  color: orange;
  margin: 0.2rem 0 0.5rem;
}

.cars-container .box .btn {
  display: flex;
  justify-content: center;
  background: #000;
  color: #fff;
  padding: 10px;
  border-radius: 0.5rem;
}

.cars-container .box .btn:hover {
  background: orange;
}
