<app-navbar></app-navbar>

<header>
  <!-- Full Page Intro -->
  <div class="view"
    style="background-image: url('../../../assets/imgs/background-img.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light align-items-center">
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>

<div class="container-fluid">
    <div class="heading my-4">
      <h1>Super Cars</h1>
      <span>Here is our vehicles for you to see</span>
    </div>

    <div class="container-fluid cars-container">
      <div class="box">
        <div class="box-img">
          <img src="../../../assets/imgs/cars1.jpg" alt="">
          <p>2018</p>
          <h3>2018 Honda Civic</h3>
          <h2>$105 per day</h2>
        </div>
      </div>

      <div class="box">
        <div class="box-img">
          <img src="../../../assets/imgs/cars2.jpg" alt="">
          <p>2018</p>
          <h3>2018 Honda Civic</h3>
          <h2>$85 per day</h2>
        </div>
      </div>

      <div class="box">
        <div class="box-img">
          <img src="../../../assets/imgs/cars3.jpg" alt="">
          <p>2018</p>
          <h3>2018 Honda Civic</h3>
          <h2>$85 per day</h2>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid">

    <div class="heading my-4">
      <h1>Super Cars</h1>
      <span>Here is our vehicles for you to see</span>
    </div>

    <div class="container-fluid cars-container">
      <div class="box">
        <div class="box-img">
          <img src="../../../assets/imgs/cars4.jpg" alt="">
          <p>2018</p>
          <h3>2018 Honda Civic</h3>
          <h2>$85 per day</h2>
        </div>
      </div>

      <div class="box">
        <div class="box-img">
          <img src="../../../assets/imgs/cars6.jpg" alt="">
          <p>2018</p>
          <h3>2018 Honda Civic</h3>
          <h2>$85 per day</h2>
        </div>
      </div>

      <div class="box">
        <div class="box-img">
          <img src="../../../assets/imgs/cars5.jpg" alt="">
          <p>2018</p>
          <h3>2018 Honda Civic</h3>
          <h2>$85 per day</h2>
        </div>
      </div>

    </div>
</div>

<div class="container-fluid">
    <div class="heading my-4">
      <h1>Super Cars</h1>
      <span>Here is our vehicles for you to see</span>
    </div>

    <div class="container-fluid cars-container">
      <div class="box">
        <div class="box-img">
          <img src="../../../assets/imgs/cars2.jpg" alt="">
          <p>2018</p>
          <h3>2018 Honda Civic</h3>
          <h2>$85 per day</h2>
        </div>
      </div>

      <div class="box">
        <div class="box-img">
          <img src="../../../assets/imgs/cars1.jpg" alt="">
          <p>2018</p>
          <h3>2018 Honda Civic</h3>
          <h2>$85 per day</h2>
        </div>
      </div>

      <div class="box">
        <div class="box-img">
          <img src="../../../assets/imgs/cars4.jpg" alt="">
          <p>2018</p>
          <h3>2018 Honda Civic</h3>
          <h2>$85 per day</h2>
        </div>
      </div>
    </div>
</div>

<div>
  <app-footer></app-footer>
</div>
