<app-navbar></app-navbar>

<!--About Us-->
<section class="about mx-4 my-6" id="abt">
  <div class="heading">
    <h1>About Us</h1>
    <span>Best Customer Experience</span>
  </div>

  <div class="about-container">
    <div class="about-img">
      <img src="../../../assets/imgs/about.png" alt="">
    </div>
    <div class="about-text">
      <span>About Us</span>
      <p>Vroomly Car rentals is a world-renowned car rental brand that specializes in offering luxury vehicles for rent. In addition to offering standard car rental options, All Cars has a number of unique features for customers to enjoy during their travels. Each of Cars's locations has all the amenities necessary for a memorable stay.</p>
      <p>When picking up your vehicle at your designated location, you must also know how to properly handle the paperwork.</p>
    </div>
  </div>
</section>

<!--Comments from customers-->

<section class="comments mx-4 my-6" id="cmnts">
  <div class="heading">
    <h1>What our Customers say</h1>
    <span>Reviews</span>
  </div>

  <div class="reviews-container">
    <div class="box">
      <div class="rev-img">
        <img src="../../../assets/imgs/rev1.jpg" alt="">
      </div>
      <h2>Anon Daniels</h2>
        <p>"I recently rented a car from Vroomly. Car Rental and I have to say, it was one of the best rental experiences I've had. The staff was incredibly friendly and helpful, answering all of my questions and making sure I felt comfortable with the car before I left the lot. The car itself was in great condition and made my road trip so much more enjoyable. I would highly recommend Vroomly. Car Rental to anyone looking for a reliable and affordable rental car."</p>
    </div>

    <div class="box">
      <div class="rev-img">
        <img src="../../../assets/imgs/rev2.jpg" alt="">
      </div>
      <h2>Steve belmont</h2>
        <p>"I recently rented a car from Vroomly. Car Rental for a vacation and was extremely impressed with the entire experience. The booking process was simple and straightforward, and the customer service representative was very helpful in answering all of my questions. When I arrived at the rental location, the staff was friendly and efficient, and the car was in great condition. The vehicle was clean, well-maintained, and had all of the features I needed for my trip. Overall, I would definitely recommend Vroomly. Car Rental to anyone in need of a rental car. They exceeded my expectations in every way."</p>
    </div>

    <div class="box">
      <div class="rev-img">
        <img src="../../../assets/imgs/rev3.jpg" alt="">
      </div>
      <h2>Angelina whittaker</h2>
        <p>"I recently rented a car from Vroomly. Car Rental for a road trip and I have to say I was extremely impressed with their service. The rental process was seamless and the staff were incredibly friendly and helpful. The car I rented was in great condition and I had no issues with it during my trip. I would highly recommend Vroomly. Car Rental to anyone looking for a convenient and reliable car rental experience."</p>
    </div>
  </div>
</section>

<!--FAQ Section-->

<section class="faqs mx-5 my-6" id="faq">

  <div class="heading">
    <h1>Frequently Asked Questions</h1>
    <span>Reviews</span>
  </div>

  <div class="accordion mb-6" id="basicAccordion">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Age requirements for renters ?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <strong>Vroomly rents vehicles to individuals who are 25 or older.</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Forms of payment ?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <strong>Vroomly accepts most major credit cards, as well as Visa and Mastercard debit cards, and you can pay using paypal as a form of payment.</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            How much does it cost to rent a car ?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>Car rental cost depends on a few factors such as location, availability, vehicle, length of the contract.<a routerLink="/cars"> See here for more details about each vehicle.</a></strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Do I need to return the vehicle with a full tank ?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
          <div class="accordion-body">
            <strong>Vroomly does not encourage that thought./</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
