.container .row .card .row p {
  color: orange;
}

.container .row .card .row .fas {
  color: orange;
}

.container .row .card .row .btn {
  flex: 1 1 4rem;
  padding: 10px 34px;
  border: none;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.850);
  color: #fff;
  font-size: 1.15rem;
  font-weight: 500;

}

.container .row .card .row .btn:hover {
  background: orange;
  box-shadow: none;
}
